<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <include resource="org/springframework/boot/logging/logback/base.xml"/>
    <property resource="application.properties"/>

    <appender name="FILE" class="ch.qos.logback.core.FileAppender">
        <file>${berryshot.logging.path}/berryshot.log</file>
             <encoder>
       <pattern>%msg%n</pattern>
     </encoder>
    </appender>

    <logger name="org.springframework.web" level="INFO"/>
    <logger name="com.codebud7.berryshot" level="DEBUG"/>
    <root level="INFO" additivity="false">
        <appender-ref ref="FILE"/>
    </root>
</configuration>
